form{
    margin: 40px auto;
    width: 40%;
    border: 2px solid gainsboro;
    border-radius: 8px;
    padding: 0 20px 20px;
}

button{
    margin-top: 10px;
    width: 100px;
}

a{
    width: 100px;
}